# MLflow
MLFLOW_URL="http://localhost:5001"
MLFLOW_PORT=5001
MLFLOW_S3_ENDPOINT_URL="http://localhost:9000"
MLFLOW_S3_IGNORE_TLS="true"
MLFLOW_DEFAULT_ARTIFACT_ROOT="s3://mlflow/"
MLFLOW_ARTIFACTS_DESTINATION="s3://mlflow/"

# MinIO
MINIO_ROOT_USER="mlflow"
MINIO_ROOT_PASSWORD="mlflow123"
MINIO_PORT=9000
MINIO_CONSOLE_PORT=8900

# PostgreSQL
POSTGRES_USER="mlflow"
POSTGRES_PASSWORD="mlflow123"
POSTGRES_DB="mlflow"
POSTGRES_PORT=5432